<!DOCTYPE html>
<html ng-app="Monster-App">

<head>
  <meta charset="UTF-8">
  <title>Music Video Monster-Control Panel</title>
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="node_modules/bulma/css/bulma.css">
</head>

<body>
  <div ng-controller="PlaybackController">
    <section class="hero is-small is-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Music Video Monster
          </h1>
          <h2 class="subtitle">
            Halloween 2017
          </h2>
        </div>
      </div>
    </section>
    <div class="container  is-fullhd">
      <nav class="level is-one-half">
        <div class="level-item">
          <a class="button" id="btnPrevious"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
        </div>
        <div class="level-item">
          <a class="button is-success" id="btnPrevious"><i class="fa fa-play" aria-hidden="true"></i></a>
        </div>
        <div class="level-item">
          <a class="button" id="btnPrevious"><i class="fa fa-pause" aria-hidden="true"></i></a>
        </div>
        <div class="level-item">
          <a class="button" id="btnPrevious"><i class="fa fa-step-forward" aria-hidden="true" ng-click="playNext()"></i></a>
        </div>
      </nav>
      <div class="columns">
        <div class="column" ng-show="fileList.length>0">
          <nav class="panel">
            <p class="panel-heading">
              Videos:
            </p>
            <ul dnd-list="fileList">
              <li ng-repeat="file in fileList" dnd-draggable="file" dnd-moved="fileList.splice($index, 1)" dnd-effect-allowed="move" ng-class="{'selected': selectedVideo == file}">
                <div class="notification" ng-class="{'is-info': file.selected}" ng-click="selectRecord(file)">
                  <article class="media">
                    <figure class="media-left">
                      {{$index}}
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{file.BandName}}</strong>: <small>{{file.SongName}}</small>
                          <br>
                        </p>
                      </div>
                    </div>
                    <div class="media-right">
                      <a class="button  is-success" id="btnPlay"><i class="fa fa-play" aria-hidden="true" ng-click="PlayVideo(file)"></i></a>
                    </div>
                  </article>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="column" ng-show="fileList.length <=0 ">
            <a class="button is-info" ng-click="loadFromdirectory()">Load files from directory</a>
            <a class="button is-info" ng-click="loadFromJSON()">Load files from JSON</a>
        </div>
        <div class="column is-one-third">
          <nav class="panel">
            <p class="panel-heading">
              Details:
            </p>
            <div>
              <div class="field">
                <label>Band Name</label>
                <div class="control">
                  <input class="input" type="text" ng-model="selectedVideo.BandName">
                </div>
              </div>
              <div class="field">
                <label>Song Name:</label>
                <div class="control">
                  <input class="input" type="text" ng-model="selectedVideo.SongName">
                </div>
              </div>
              <div class="field">
                <label for="txtInBuffer">In Buffer:</label>
                <div class="control">
                  <input type="number" id="txtInBuffer" ng-model="selectedVideo.InBuffer">
                </div>
              </div>
              <div class="field">
                <label for="txtOutBuffer">Out Buffer:</label>
                <div class="control">
                  <input type="number" id="txtOutBuffer" ng-model="selectedVideo.OutBuffer">
                </div>
              </div>
              <div class="field">
                <div>
                  <label>Tags</label>
                  <div>
                    <labal for="chkRap">Rap</labal>
                    <input type="checkbox" value="Rap" id="chkRap" ng-model="selectedVideo.Tags.Rap">
                  </div>
                  <div>
                    <labal for="chkMetal">Metal</labal>
                    <input type="checkbox" value="Metal" id="chkMetal" ng-model="selectedVideo.Tags.Metal">
                  </div>
                  <div>
                    <labal for="chkForeign">Foreign</labal>
                    <input type="checkbox" value="Foreign" id="chkForeign" ng-model="selectedVideo.Tags.Foreign">
                  </div>
                  <div>
                    <labal for="chkSpoof">Spoof</labal>
                    <input type="checkbox" value="Spoof" id="chkSpoof" ng-model="selectedVideo.Tags.Spoof">
                  </div>
                  <div>
                    <labal for="chkFiveStar">5 Star</labal>
                    <input type="checkbox" value="FiveStar" id="chkSpoof" ng-model="selectedVideo.Tags.FiveStar">
                  </div>
                  <div>
                    <labal for="chkFiveStar">Halloween</labal>
                    <input type="checkbox" value="Halloween" id="chkHalloween" ng-model="selectedVideo.Tags.Halloween">
                  </div>
                </div>
              </div>
              <div>
                <a class="button is-danger" ng-click="RemoveSelectedRecord()">Remove</a>
              </div>
              <hr>
              <div class="control">
                <a class="button" ng-click="save()">save</a>
                <a class="button" ng-click="genSort()">Randomize</a>
                <a class="button" ng-click="scanEffect()"></a>
<!--                 <a class="button" ng-click="ascii(true)">on</a>
                <a class="button" ng-click="ascii(false)">off</a> -->
                <select ng-model="currentEffect" ng-change="UpdateEffect()">
                  <option value="None">None</option>
                  <option value="ascii">Ascii</option>
                  <option value="hex">Hex</option>
                  <option value="invert">Invert</option>
                  <option value="sketch">Sketch</option>
                  <option value="kaleidoscope">Kaleidoscope</option>
                  <option value="nightvision">nightvision</option>
                </select>
              </div>
            </div>
            <!--                   <p class="panel-heading">
                    Effects:
                  </p>
                  <a ng-click="sendEffect('ascii')" class="panel-block">ASCII</a>
                  <a ng-click="sendEffect('pixel')" class="panel-block">Pixelate</a>
                  <a ng-click="sendEffect('tvglitch')" class="panel-block">Tv Glitch</a>
                  <a ng-click="sendEffect('none')" class="panel-block">clear</a>
                  <a ng-click="sendEffect('accumulator')" class="panel-block">accumulator</a>
                  <a ng-click="sendEffect('filmgrain')" class="panel-block">filmgrain</a>
                  <a ng-click="sendEffect('invert')" class="panel-block">invert</a> -->
          </nav>
        </div>
      </div>
    </div>
    <!--         <ol>
          <li ng-repeat="file in fileList">
            <a ng-click="LoadVideo(file.Path)">{{file.Name}}</a>
          </li>
        </ol>
      </div> -->
    <!--       <a ng-click="manualpush()">Load</a>
      <a ng-click="sendEffect('ascii')">ASCII</a>
      <a ng-click="sendEffect('pixel')">Pixelate</a>
      <a ng-click="sendEffect('tvglitch')">Tv Glitch</a>
      <a ng-click="sendEffect('none')">clear</a>
      <a ng-click="sendEffect('accumulator')">accumulator</a>
      <a ng-click="sendEffect('filmgrain')">filmgrain</a>
      <a ng-click="sendEffect('invert')">invert</a> -->

</body>
<script src="lib/seriously.js"></script>
<script src="lib/effects/seriously.vignette.js"></script>
<script src="lib/effects/seriously.pixelate.js"></script>
<script src="lib/effects/seriously.ascii.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
<script src="GeneticSort.js"></script>
<script src="PlaybackController.js"></script>
<style>
  /**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */

  .simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
  }
  /**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */

  .simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
  }
  /**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */

  .simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
  }

  .simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
  }
  /**
 * Show selected elements in green
 */

  .simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
  }
</style>

</html>